/* 
    DO NOT CHANGE THE CODE BELOW
*/
body {
  font-family: Arial;
  background: #f1f1f1;
  background-color: #f7f7f7;
}

#logo {
  width: 75px;
  height: 50px;
}

#intro-img {
  width: 100%;
  height: 200px;
}

#about-img {
  width: 100%;
  height: 220px;
}

.emphasis {
  color: red;
}

.img-icon {
  width: 25px; 
  height: 25px; 
  margin: 10px 20px;
}

* {
  box-sizing: border-box;
}
/* 
    DO NOT CHANGE THE CODE ABOVE
*/


/* 
    START WRITING YOUR CSS CODE HERE
*/
.header {
  overflow: hidden;
  background-color: lightblue;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  a:link{
    text-decoration: none;
    float: left;
    color:red;
    font-family: "Lucida Console";
    font-size: 18px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
  }
  a:hover{
    color:red;
  }
}


a.active{
  color:rgb(255, 192, 239);
  background-color: rgb(104, 12, 27);
}

.header-right{
  float: right;
  margin-top: 12px;
}

.left-col{
  float: left;
  width:75%;
}
.card{
  background-color: grey;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 20px;

}
.right-col{
  float: left;
  width: 25%;
  background-color: aquamarine;
  padding-left: 20px;
}

@media only screen and (max-width: 600px) {
  .header{
    a:link{
      float:none;
      display: block;
      text-align: left;
    }
  }
  .header-right{
    float:none;
  }
  .left-col{
    width:100%;
  }
  .right-col{
    width:100%
  }
  .card{
    font-size: 30px;
  }
  img{
    max-width: 100%;
    height:auto;
  }
}

/* 
    START WRITING YOUR CSS CODE HERE
*/
